@media (min-width: 768px) {
  .container-fluid {
    max-width: 730px;
  }
}

input[type="text"] {
  border: 1px solid #ddd;
}

input[type="text"]:focus {
  border: 1px solid #aaa;
}

.modal {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  padding: 2em;
  display: none;
}

.modal.show {
  display: block;
}

.modal-body {
  max-width: 800px;
  width: 100%;
  background-color: #fff;
  border-radius: 0.5em;
  position: relative;
}

.modal-body h2 {
  color: #2b3e50;
  margin: 0 0 1em 0;
}

.close-modal {
  position: absolute;
  top: 0em; right: 0.3em;
  border: 0; background: none;
  color: #2b3e50;
  font-size: 3em;
}

.input-group {
  margin-bottom: 1em;
}

.badge {
  text-transform: uppercase;
  font-size: 15px;
  margin-right: 1.5em;
}

.panel-heading {
  padding: 1em;
  overflow: hidden;
}

.panel-heading:after {
  display: table;
  content: " ";
  clear: both;
}

.server-actions {
  margin-right: -6.5em;
  transition: all .2s ease-out;
}

.server-action {
  border: 0;
  background: none;
  font-size: 20px;
  float: right;
  margin-right: 0.5em;
  transition: all .2s ease-out;
}

.server-action:hover {
  transform: scale(1.1) rotate(-6deg);
  transition: all .2s ease-out;
}

.server-action:first-child:hover {
  transform: scale(1.1) rotate(6deg);
}

.panel-heading:hover .server-actions {
  margin-right: 0;
  transition: all .2s ease-out;
}

.panel-danger .metrics { background-color: #D9534F; }
.panel-warning .metrics { background-color: #F0AD4E; }
.panel-success .metrics { background-color: #5CB85C; }

.metrics {
  height: 0;
  overflow: hidden;
  padding: 1em;
  display: none;
}

.metrics.show {
  height: 200px;
  transition: all .2s ease-out;
  display: block;
}













/**/
